@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <center>
            <img src="~/Content/img/completed.png" width="800" />
            @Html.ActionLink("Tiếp tục mua hàng", "Index", "Product")
        </center>
    </div>
</body>
</html>
